@import url('../assets/fonts/fontinit.css');

:root {
    /* sets the border radius for everything */
    --universalBorderRadius: 4px;

    /* sets the box shadows everything */
    --widgetBoxShadows: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0,0,0,.12);
    --widgetHoverBoxShadows: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

    /* normal colour stuff */
    --defaultBackground: #fff;
    --layerWidgetBackground: rgba(1, 1, 1, 0.06);
    --textColour: #333;
    --hoverColour: rgba(0, 0, 0, 0.8);

    /* navigation colours */
    --navBackgroundColour:#212121;
    --navColour: #fff;
    --navHoverColour: rgba(1, 1, 1, 0.8);

    /* transitions */
    --easeTransition: all 0.5s ease;

    /* linked to mobile stuff */
    --specifiedFontSize: 12pt;
    --dynamicallyFixedBackgroundAttatchment: fixed;
}

/* for mobile devices or smaller screens */
@media screen and (max-width: 479px) {
    :root {
        --specifiedFontSize: 10pt;
    }
}
/* only mobile */
@media (hover: none) {
    :root {
        --dynamicallyFixedBackgroundAttatchment: scroll;
    }
}

/* scrolling stuff */
html {
    scroll-behavior: smooth;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y proximity;
}
.scrollSnapStart {
    scroll-snap-align: start;
}
.scrollSnapCenter {
    scroll-snap-align: center;
}
.scrollSnapEnd {
    scroll-snap-align: center;
}

/* standardizes fonts and inputs */
body, input, button {
    font-family: "Roboto";
    letter-spacing: normal;
    font-feature-settings: "kern","liga";
    -webkit-font-smoothing: antialiased;
    color: var(--textColour);
    background: var(--defaultBackground);
}

body {
    margin: 0;
}

button {
    font-family: "Roboto";
    font-weight: 300;
}

input {
    border-radius: var(--universalBorderRadius);
    border: 0;
    padding: 5px;
    font-weight: 300;
}
input:focus {
    border-radius: var(--universalBorderRadius);
    outline: none;
}

/* standardizes heights for containers */
.mainContainer {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-items: stretch;
}
.mainContainer #main {
    flex: 1;
}
.repeatableHeight {
    min-height: 100vh;
}

/* universal styling */
.mainIndexContent {
    background-color: var(--defaultBackground, #fff);
    box-shadow: var(--widgetBoxShadows);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    border-radius: var(--universalBorderRadius);
    gap: 10px;
    margin: 5px;
    overflow: hidden;
}


