@import url('../assets/fonts/fontinit.css');

:root {
    /* sets the border radius for everything */
    --universalBorderRadius: 4px;

    /* sets the box shadows everything */
    --widgetBoxShadows: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0,0,0,.12);
    --widgetHoverBoxShadows: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

    /* normal colour stuff */
    --defaultBackground: #fff;
    --layerWidgetBackground: rgba(1, 1, 1, 0.04);
    --textColour: #333;
    --hoverColour: rgba(0, 0, 0, 0.8);

    /* navigation colours */
    --navBackgroundColour:#212121;
    --navColour: #fff;
    --navHoverColour: rgba(1, 1, 1, 0.5);

    /* transitions */
    --easeTransition: all 0.5s ease;

    /* linked to mobile stuff */
    --specifiedFontSize: medium;
    --dynamicallyFixedBackgroundAttatchment: fixed;
}

:root.darkMode {
    /* darkmodestuff */
    --defaultBackground: #333;
    --layerWidgetBackground: rgba(255, 255, 255, 0.04);
    --textColour: #fff;
    --hoverColour: rgba(255, 255, 255, 0.8)
}

/* for mobile devices or smaller screens */
@media screen and (max-width: 479px) {
    :root {
        --specifiedFontSize: 9pt;
    }
}
/* only mobile */
@media (hover: none) {
    :root {
        --dynamicallyFixedBackgroundAttatchment: scroll;
    }
}

body {
    margin: 0;
}

/* scrolling stuff */
html {
    scroll-behavior: smooth;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y proximity;
}
.scrollSnapStart {
    scroll-snap-align: start;
}
.scrollSnapCenter {
    scroll-snap-align: center;
}
.scrollSnapEnd {
    scroll-snap-align: center;
}
/* for firefox */
* {
    scrollbar-color: var(--navColour) var(--navBackgroundColour);
    scrollbar-width: thin;
}
/* for other vendors */
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: var(--navBackgroundColour);
}
*::-webkit-scrollbar-thumb {
  background: var(--navColour);
}
*::-webkit-scrollbar-thumb:hover {
  background: #cecece;
}

/* standardizes fonts and inputs */
body, input, button, textarea {
    font-family: "Roboto";
    letter-spacing: normal;
    font-feature-settings: "kern","liga";
    -webkit-font-smoothing: antialiased;
    color: var(--textColour);
    background: var(--defaultBackground);
}

button, textarea, input {
    font-weight: 300;
}

input, textarea {
    border-radius: var(--universalBorderRadius);
    border: 0;
    padding: 5px;
    font-size: small;
}
textarea:focus, input:focus {
    outline: none;
}

/* standardizes heights for containers */
.mainContainer {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-items: stretch;
}
.mainContainer #main {
    flex: 1;
}
.repeatableHeight {
    min-height: 100vh;
}

/* standardizes tables */
table {
    border-collapse:separate;
    border: solid var(--textColour) 4px;
    border-radius: var(--universalBorderRadius);
    box-shadow: var(--widgetBoxShadows);
    font-size: var(--specifiedFontSize);
    border-spacing: 0;
    overflow: hidden;
    word-break: break-all;
}
table :is(td, th) {
    border-left: solid var(--textColour) 2px;
    border-top: solid var(--textColour) 2px;
    text-align: center;
    padding: 6px;
}
table th {
    border-top: none;
}
table td:first-child, th:first-child {
    border-left: none;
}

/* universal styling */
.mainIndexContent {
    background-color: var(--defaultBackground, #fff);
    box-shadow: var(--widgetBoxShadows);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    border-radius: var(--universalBorderRadius);
    gap: 10px;
    margin: 10px;
    overflow: hidden;
}


