:root {
    --universalBorderRadius: 4px;
    --widgetBackground: #fff;
    --layerlayerWidgetBackground: rgba(1, 1, 1, 0.1);
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.mainContainer {
    height: 100vh;
    display: flex;
    flex-flow: column;
}

